@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100..900&display=swap");

/* Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

.preloader-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mosaic-loader {
    --cell-size: 64px;
    --cell-spacing: 1px;
    --border-width: 1px;
    --cells: 4;
    --total-size: calc(
        var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing))
    );
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
}
.mosaic-loader > .cell {
    --cell-color: white;
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border: var(--border-width) solid var(--cell-color);
    animation: 1.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
    animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
    animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
    animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
    animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
    animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
    animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
    --cell-color: #d4aee0;
}
.mosaic-loader > .cell:nth-child(2) {
    --cell-color: #8975b4;
}
.mosaic-loader > .cell:nth-child(3) {
    --cell-color: #64518a;
}
.mosaic-loader > .cell:nth-child(4) {
    --cell-color: #565190;
}
.mosaic-loader > .cell:nth-child(5) {
    --cell-color: #44abac;
}
.mosaic-loader > .cell:nth-child(6) {
    --cell-color: #2ca7d8;
}
.mosaic-loader > .cell:nth-child(7) {
    --cell-color: #1482ce;
}
.mosaic-loader > .cell:nth-child(8) {
    --cell-color: #05597c;
}
.mosaic-loader > .cell:nth-child(9) {
    --cell-color: #b2dd57;
}
.mosaic-loader > .cell:nth-child(10) {
    --cell-color: #57c443;
}
.mosaic-loader > .cell:nth-child(11) {
    --cell-color: #05b853;
}
.mosaic-loader > .cell:nth-child(12) {
    --cell-color: #19962e;
}
.mosaic-loader > .cell:nth-child(13) {
    --cell-color: #fdc82e;
}
.mosaic-loader > .cell:nth-child(14) {
    --cell-color: #fd9c2e;
}
.mosaic-loader > .cell:nth-child(15) {
    --cell-color: #d5385a;
}
.mosaic-loader > .cell:nth-child(16) {
    --cell-color: #911750;
}

@keyframes ripple {
    0% {
        background-color: transparent;
    }
    30% {
        background-color: var(--cell-color);
    }
    60% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}

/* Canvas */
.experience-wrapper {
    display: block;
}

#experience {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
}

/* Side Bar */
.side-bar {
    height: 100%;
    width: 450px;
    color: #202b34;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transform: translateX(-100%);
}

.side-bar-content {
    padding: 20px;
}

.close-button {
    margin-bottom: 24px;
    cursor: pointer;
}

.close-button:hover {
    color: #4288d8;
}

.side-bar-subheading {
    margin-top: 16px;
    margin-bottom: 64px;
}

.side-bar-text {
    padding-bottom: 64px;
}

.interactive-svg {
    width: 380px;
    height: auto;
    margin-bottom: 24px;

    will-change: transform;
    transform-style: preserve-3d;
}

/* Utilities */
.hidden {
    display: none;
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue), 90%, 95%);
    --fg: hsl(var(--hue), 90%, 5%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

.ip {
    width: 16em;
    height: 8em;
}
.ip__track {
    stroke: hsl(var(--hue), 90%, 90%);
    transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
    animation: worm1 2s linear infinite;
}
.ip__worm2 {
    animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 90%, 5%);
        --fg: hsl(var(--hue), 90%, 95%);
    }
    .ip__track {
        stroke: hsl(var(--hue), 90%, 15%);
    }
}

/* Animation */
@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }
    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }
    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }
    50% {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -358;
    }
}
